body {
  background-color: black;
}

.App {
  text-align: center;
  color: white;
}

/* footer css */

.service-code {
  background: #141414;
  color: grey;
  border: 1px solid grey;
  font-size: 13px;
  padding: .5em;
  height: 35px;
  margin-left: 12px;
}

.footerContainer {

  text-align: left;
  color: grey;
}

.socialsContainer {
 
  margin-bottom: 25px;
}

.bi-socials {

  margin-left: 20px;
}

/* end of footer css */


/* Galleri Styling */


.card-img-gallery {
            height: 150px;
            width: 300px !important;
            object-fit: cover !important;
        }
.card-img-gallery:hover{
  padding: 4px;
  -webkit-box-shadow: 1px 0px 40px 2px rgba(240, 255, 252, 0.29);
  box-shadow: 1px 0px 40px 2px rgba(240, 255, 252, 0.29);
  border: none !important;
}
.card-text-area {
            background-color:#3b3b3b48;
          /* height: 200px !important;    */
        }

 .scroller {
     display: flex;
     flex-wrap: nowrap;
     overflow-x: scroll;
 }
 .scroller::-webkit-scrollbar {
     display: none;
 }